body {
  margin: 0;
  padding: 0;
  font-family: "Prompt", sans-serif;
  background-color: #ffffff;
}

/* Navigation bar */

#nav-div {
  position: fixed;
  z-index: 1;
  background-color: #ffffff;
  height: 50px;
  width: 100%;
  top: 0;
  border-bottom: 1px solid #d9d9d9;
}

#nav-name {
  color: #34472f;
  float: left;
  margin: 10px 0px 0px 20px;
  font-size: 1.5em;
  text-decoration: none;
}

#nav-list {
  float: right;
  margin: 15px 20px 0px 0px;
  z-index: 1;
}

#nav-list li {
  display: inline-block;
  font-size: 1em;
  border-right: 1px solid #34472f;
  padding: 0px 20px;
}

#nav-list a {
  color: #34472f;
  text-decoration: none;
}

#nav-list a:hover {
  color: #737373;
}

#nav-list li:last-child {
  border-right: none;
}

/* Contact information footer */

#contact-footer {
  border-top: 1px solid #d9d9d9;
  clear: both;
  height: 25vh;
  background-color: #34472f;
  color: #ffffff;
  text-align: center;
}

#left-contact {
  float: left;
}

#right-contact {
  float: right;
}

.top-margin-text {
  margin-top: 30px;
}

#left-contact, #right-contact {
  width: 30%;
  margin: 0% 10%;
}

#contact-footer a {
  color: #8c8c8c;
}

#contact-footer a:hover {
  color: #d9d9d9;
}

/* Image and titles */

#top-space {
  height: 30vh;
  min-height: 100px;
}

#full-name, #fullstack-title {
  text-align: center;
  color: #ffffff;
  text-shadow: -1px 0 #000000, 0 1px #000000, 0 0 #000000, 0 0 #000000;
}

#full-name {
  text-align: center;
  margin: auto;
  padding-bottom: 20px;
  font-size: 4em;
  width: 400px;
  border-bottom: 1px solid #ffffff;
}

#fullstack-title {
  font-size: 3em;
}

#welcome-image-holder {
  margin-top: 0px;
  width: 100%;
  min-height: 500px;
  height: 100vh;
  background-image: url('./images/ForestImage.png');
}

/* Scroll bar */

#scroll-down {
  position: absolute;
  bottom: 0;
  height: 10vh;
  background-color: #ffffff;
  opacity: 0.4;
  width: 100%;
  text-align: center;
  cursor: pointer;
  transition-property: all;
  transition-duration: 1s;
}

#scroll-down {
  animation-name: bouncing-arrow;
  animation-iteration-count: 2;
  animation-duration: 1.5s;
}

#scroll-down:hover {
  padding-top: 20px;
  margin-bottom: -20px;
}

#down-arrow {
  margin: 10px auto 0px auto;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #000000;
}

@keyframes bouncing-arrow {
  0%, 100% {padding-top: 0px;
      margin-bottom: 0px;}
  50% {padding-top: 20px;
        margin-bottom: -20px;}
}

/* Basic information */

#welcome-page-intro {
  margin-bottom: 80px;
  float: right;
  width: 30%;
  margin-right: 10%;
}

.top-section, .bottom-section {
  background-color: #34472f;
  padding: 10px 40px;
  color: #ffffff;
  border-radius: 30px;
  box-shadow: 0px 0px 25px #000000;
  text-align: center;
}

.top-section {
  font-size: 1em;
  margin-top: 80px;
  margin-bottom: 40px;
}

.bottom-section {
  font-size: 0.85em;
}

#bio-list {
  list-style-type: none;
  padding-left: 0px;
  margin: 0px;
}

#bio-list li {
  padding: 15px 0px;
}

.border {
  margin: auto;
  border-bottom: 1px solid #d9d9d9;
  width: 50%;
}

/* Images */

#welcome-page-images {
  float: left;
  margin-left: 10%;
  width: 30%;
  margin-top: 55px;
  border-right: 1px solid #d9d9d9;
  padding-right: 10%;
}

#field-image {
  margin-top: 30px;
}

#grand-canyon-image, #field-image {
  border-radius: 50%;
  box-shadow: 0px 0px 25px #000000;
}
